<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @host.name %>
</p>

<p>
  <b>Members:</b>
  <% @host.members.each do |m| %>
	<%= m.id %><br/>
  <% end %>
  
</p>

<p>
  <b>Category:</b>
  <%= @host.category.name %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
