<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  
<div>
    <%= f.label :hosts %><br/>
    <% Host.where(:user_id => current_user.id).order("lower(name)").each do |host| %>
      <%= check_box_tag :host_ids, host.id, @member.hosts.include?(host), :name => 'member[host_ids][]' %><%= host.name %></br>
    <% end %>
</div></br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
